<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/app.css")}}">
    <title>#MeToo</title>
  </head>
  <body>
    <h1>About #MeToo</h1>
    <p>The "Me Too" spread virally in October 2017, after numerous allegations against Harvey Weinstein surfaced.</p>
    <p>The hastag documents
    Twitter:
    
    <div id="contact-form">
      <form method="post" action="/submit">
        <label for="username">Username:</label><input type="text" id="username" name="username" required="required" />
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" required="required" />
        <input type="submit" value="Submit" id="submit-button" />
      </form>
    </div>

  </body>
</html>
